.wrapper {
  min-height: 100vh;
  background-color: #f8f9fe;
}

.logo {
  font-family: "Pacifico", serif;
}

.card {
  box-shadow: 0 1rem 3rem rgb(120 21 207 / 15%);
}

.form-control {
  font-size: 0.875rem;
}

.form-control:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.1);
}

.bg-purple-gradient {
  background: linear-gradient(135deg, #6f42c1, #6610f2);
}

.progress-dots {
  width: 8px;
  height: 8px;
}

.form-label {
  font-size: 0.75rem;
  font-weight: 700;
  color: #495057;
}

.gender-label {
  font-size: 0.75rem;
  color: #6c757d;
}

.btn-next {
  --bs-btn-padding-x: 1rem;
  border-radius: 50px;
}

.abstract-bg {
  opacity: 0.3;
  z-index: 0;
}

.form-select {
  background-position: right 0.75rem center;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle img,
.dropdown-item img {
  width: 20px;
  height: 15px;
  object-fit: cover;
}

.left-blurred-bg {
  position: absolute;
  top: calc(50% - 50vh);
  right: 0;
  width: 47vw;
  height: 100vh;
  object-fit: cover;
  filter: blur(4px) brightness(0.7);
  clip-path: fill-box;
  z-index: 0;
}

.left-image-foreground {
  position: relative;
  z-index: 1;
}

@media (max-width: 765.9px) {
  .left-blurred-bg {
    top: auto;
    right: calc(50% - 50vw);
    bottom: 0;
    width: 100vw;
    height: calc(100% + 1.5rem);
  }
}
/* ---Sidebar---- */
.sidebar-side {
  display: flex;
  background-color: #18232f;
}
main {
  width: 100%;
  padding: 20px;
  background: white;
}
.sidebar {
  background: #00000000;
  color: white;
  height: 100vh;
  width: 300px;
  transition: all 0.5s;
}
.top-section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo-amb {
  height: 50px;
  width: 100px;
}
.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
  cursor: pointer;
}
.link {
  display: flex;
  color: white;
  padding: 10px 15px;
  transition: all 0.5s;
  text-decoration: none;
  font-size: 14px;
}

.active {
  background: rgb(70, 70, 71);
  color: #ffffff;
}
.icon,
.link_text {
  font-size: 15px;
}
.section-heading {
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  text-align: center;
}
.action-btn {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.action-btn2 {
  display: flex;
  gap: 20px;
}
.button-save {
  background-color: #315a86;
  padding: 5px 5px;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: auto; /* Add this */
  margin-right: auto;
  /* margin-top: 5rem; */
}
/* -----Dashboard css----- */
.dashboard-container {
  text-align: center;
  padding: 20px;
}

.card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card2 {
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 20px;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card2 h3 {
  margin-bottom: 10px;
}

.card2 p {
  color: #555;
}

/* -----Dashboard css----- */
/* ------------Manage Category---------- */

.mvh-100 {
  min-height: calc(100vh - 56px);
}

.title {
  margin-bottom: 2rem;
  text-transform: uppercase;
  text-align: center;
}

label {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 8px;
}

.form-control {
  border: 0;
  background-color: #efefef;
}

/* ------------Manage Category---------- */
.save-btn {
  background-color: #15283c;
  padding: 10px;
  color: #fff;
  font-size: 1em;
  margin-top: 20px;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.title-container {
  display: flex;
  align-items: center;
}

.title-container h5 {
  margin-right: 10px;
  white-space: nowrap;
}

.title-container::after {
  content: "";
  flex-grow: 1;
  height: 2px;
  background-color: #050505;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  height: 300px;
}

/* ----Sub Admin Dashboard CSS--- */
.heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #052351;
  text-align: left;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 2rem;
}
.heading-cards {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #0d6efd;
  text-align: left;
  text-transform: uppercase;
}
.tiptap-editor {
  min-height: 300px;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 4px;
}
.jodit-status-bar-link {
  display: none !important;
}